* {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.bg-black {
  background-color: black;
}

.bg-grey {
  background-color: grey;
}

.flex {
  display: flex;
}

.left {
  width: 25vw;
  background-color: rgb(25, 24, 24);
  min-height: 90vh;
  border-radius: 10px;
  padding: 4px;
  margin: 3px;
}

.right {
  width: 75vw;
  background-color: rgb(25, 24, 24);
  border-radius: 10px;
  margin: 4px 5px;
}

.invert {
  filter: invert(1);
}
html {
  scroll-behavior: smooth;
}